<div [attr.aria-labelledby]="modalId + '-title'"
     [id]="modalId"
     class="modal fade"
     tabindex="-1">
    <div [class.modal-dialog-scrollable]="isScrollable"
         [class.modal-lg]="modalSize === 'lg'"
         [class.modal-xl]="modalSize === 'xl'"
         class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 [id]="modalId + '-title'"
                    [innerText]="title"
                    class="modal-title"></h2>
                <button aria-label="Fechar"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <div class="modal-body">
                @if (isOpen) {
                    <ng-container [ngTemplateOutlet]="contentHtml"></ng-container>
                }
            </div>
        </div>
    </div>
</div>
