<ctl-section-background [backgroundUrl]="'/assets/images/creche/creche_background.jpg'"></ctl-section-background>
@if (section) {
    <ctl-section-message-box [iconSrc]="'assets/images/creche/creche_logo.png'"
                             [messageBoxText]="section.smallDescription"
                             [title]="'Creche Arco-Íris'">
    </ctl-section-message-box>
    <ctl-gallery [imagesSRCs]="section.photoSRCs"></ctl-gallery>

  <div class="creche-section-content-container">
    <div [innerText]="section.description"></div>
  </div>

  <div class="creche-info-columns-container">
    <div>
      <div [innerText]="section.videoTitle"
           class="creche-column-title">
      </div>
      <iframe
        class="iframe-video"
        [src]="safeURL"
        allow='autoplay; encrypted-media'
        allowfullscreen
        [title]='section.videoTitle'
      >
      </iframe>
    </div>

    <div class="creche-column m-b-40">
      <div [innerText]="section.leftTitle"
           class="creche-column-title"></div>
      @for (item of section.leftBullets; track $index) {
        <div [innerText]="item" class="creche-column-item"></div>
      }
      <div [innerText]="section.rightTitle"
           class="creche-column-title m-t-40"></div>
      @for (item of section.rightBullets; track $index) {
        <div [innerText]="item" class="creche-column-item"></div>
      }
    </div>
  </div>
}


