<ctl-section-background [backgroundUrl]="'/assets/images/creche/creche_background.webp'"></ctl-section-background>
<ctl-section-message-box [iconSrc]="'assets/images/creche/creche_logo.png'"
                         [loading]="loading"
                         [messageBoxText]="section?.smallDescription ?? ''"
                         [title]="'Creche Arco-Íris'">
</ctl-section-message-box>
<ctl-gallery [imagesSRCs]="section?.photoSRCs ?? []"
             [loading]="loading"></ctl-gallery>
@if (section) {
    <div class="section-content-container">
        <p [innerText]="section.description"
           class="section-description"></p>

        <div class="info-columns-container">
            <div class="column">
                <h2 [innerText]="section.leftTitle"
                    class="column-title"></h2>
                @for (item of section.leftBullets; track $index) {
                    <div [innerText]="item" class="column-item"></div>
                }

                <h2 [innerText]="section.rightTitle"
                    class="column-title m-t-40"></h2>
                @for (item of section.rightBullets; track $index) {
                    <div [innerText]="item" class="column-item"></div>
                }
            </div>

            @if (section.videoURL) {
                <div class="column">
                    <h2 [innerText]="section.videoTitle"
                        class="column-title"></h2>
                    <iframe [src]="section.videoURL | SafeYouTubeUrl"
                            [title]="section.videoTitle"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            class="section-video">
                    </iframe>
                </div>
            }
        </div>
    </div>
}
