<nav id="mainNav"
     class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <img src="assets/img/ctl_logo.png"
           alt="CTL"/>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"
         aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a id="nav-organisation"
             class="nav-link"
             href="#pessoas">Pessoas</a>
        </li>
        <li class="nav-item">
          <a id="nav-projects"
             class="nav-link"
             href="#projetos">Projetos</a>
        </li>
        <li class="nav-item">
          <a id="nav-services"
             class="nav-link"
             href="#servicos">Serviços</a>
        </li>
        <li class="nav-item">
          <a id="nav-contacts"
             class="nav-link"
             href="#contatos">Contatos</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="language_dropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">PT</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" onclick="changeLanguage('pt')">PT</a>
              </li>
              <li>
                <a class="dropdown-item" onclick="changeLanguage('en')">EN</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
