.navbar-container {
  display: flex;
  background-color: aquamarine;
  height: var(--nav-height);
  align-items: center;
}

.nav {
  display: flex;
  margin-left: auto;
}


.nav-item-selected {
  background-color: lightblue;
}

.toggle {
  display: none;
}


@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    top: var(--nav-height);
    right: 0;
    background-color: white;
  }

  .show-nav {
    display: block;
  }

  .toggle {
    display: block;
    background-color: transparent;
    border: transparent;
    margin: 0 5px 0 auto;
  }
}
