.navbar-container {
  display: flex;
  height: var(--nav-height);
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  transition: top 0.3s ease-in-out;
  top: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.navbar-hide-on-scroll-down {
  top: calc(0px - var(--nav-height));
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: white;
  border-radius: var(--border-radius);
  margin: 0 8px;
  font-weight: bold;
  backdrop-filter: blur(10px);
  background: var(--ctl-blue);
  user-select: none;

  &:hover {
    background: var(--ctl-orange);
    cursor: pointer;
  }
}

.nav-item-selected {
  background: #9295db;
  border-radius: var(--border-radius);
}

.toggle {
  display: none;
}

.logo-container {
  background: linear-gradient(
                  to right, rgba(255, 255, 255, 0.35) 0%,
                  rgba(255, 255, 255, 0.35) 80%,
                  transparent);
  border-radius: 0 0 0 var(--border-radius);
  padding: 35px 50px 0 10px;
  height: 100%;

  .abbrev-text {
    display: none;
  }

  .full-text {
    display: block;
  }

  span {
    font-family: "starlinerbtnregular", "Century Gothic", serif !important;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--ctl-blue);
    cursor: pointer;
    user-select: none;
  }
}

.dropdown-menu {
  background-color: var(--ctl-blue-25);
  border-radius: var(--border-radius);
}

.dropdown-item:hover {
  background-color: var(--ctl-blue-15);
  border-radius: var(--border-radius);

  &:active {
    color: black !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
    position: absolute;
    top: var(--nav-height);
    right: 0;
    background: transparent;
  }

  .show-nav {
    display: block;
  }

  .toggle {
    display: block;
    background-color: transparent;
    border: transparent;
    margin: 0 5px 0 auto;
    color: var(--ctl-blue);
    font-size: 1.5em;
  }

  .nav-link {
    margin: 4px 8px;
  }

  .logo-container {

    span {
      font-size: 1em;
    }
  }
}


@media screen and (max-width: 768px) {
  .abbrev-text {
    display: block !important;
  }

  .full-text {
    display: none !important;
  }
}
