<ctl-section-background [backgroundUrl]="'/assets/images/natacao/natacao_background.png'"></ctl-section-background>
<ctl-section-message-box [iconSrc]="'assets/images/natacao/natacao_logo.jpg'"
                         [messageBoxText]="section?.smallDescription ?? ''"
                         [title]="'Natação'"
                         [loading]="loading">
</ctl-section-message-box>
<ctl-gallery [imagesSRCs]="section?.photoSRCs ?? []"
             [loading]="loading"></ctl-gallery>
@if (section) {
    <ctl-section-content [section]="section"></ctl-section-content>
}
