.to-remove {
  margin-top: 100px;
  width: 200px;
  height: 200px;
}

ctl-gallery-v2 {
  display: flex;
}

.gallery-container-v2 {
  border: 1px solid black;
  height: 200px;
  width: 1000px;
  margin-top: 100px;
  position: relative;

  img {
    height: 200px;
    position: absolute;
    animation: across 30s infinite linear;
    animation-delay: calc(30s / var(--imgs-length) * (var(--imgs-length) - var(--img-number)) * -1);
  }
}

@keyframes across {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

