.navbar-container {
  display: flex;
  background-color: var(--ctl-orange);
  height: var(--nav-height);
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  transition: top 0.3s ease-in-out;
  top: 0;
}

.navbar-hide-on-scroll-down {
  top: calc(0px - var(--nav-height));
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: black;
}


.nav-item-selected {
  background-color: lightblue;
}

.toggle {
  display: none;
}


@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    top: var(--nav-height);
    right: 0;
    background-color: white;
  }

  .show-nav {
    display: block;
  }

  .toggle {
    display: block;
    background-color: transparent;
    border: transparent;
    margin: 0 5px 0 auto;
  }
}
