<div class="legal">
    <h3 class="legal-heading">Introdução</h3>
    <p>O presente documento apresenta a Política de Privacidade e de Proteção de Dados Pessoais do Clube de Tempos
        Livres de Santa Clara (CTL) e explicita os termos em que o CTL procede ao tratamento de dados pessoais dos
        Clientes ou potenciais Clientes, de acordo com o disposto no Regulamento (EU) 2016/679 do Parlamento Europeu
        e do Conselho - Regulamento Geral sobre a Proteção de Dados (RGPD) - e restante legislação nacional aplicável
        em matéria de privacidade e proteção de dados.</p>

    <h3 class="legal-heading">Compromisso</h3>
    <p>O CTL compromete-se a respeitar as boas práticas no domínio da segurança e da proteção dos dados pessoais.</p>

    <h3 class="legal-heading">Responsável pelo tratamento dos dados</h3>
    <p>O CTL é o responsável pelo tratamentos dos dados pessoais dos seus clientes ou potenciais clientes, podendo
        ser contactado através de: O CTL compromete-se a respeitar as boas práticas no domínio da segurança e da
        proteção dos dados pessoais.</p>
    <address>
        Clube de Tempos Livres de Santa Clara<br>
        Rua Rui Braga Carrington da Costa, 244<br>
        Santa Clara<br>
        3040 – 005 Coimbra
    </address>

    <h3 class="legal-heading">Dados Pessoais</h3>
    <p>Por dados pessoais entende-se qualquer informação, de qualquer natureza e independentemente do respetivo
        suporte, relativa a uma pessoa singular identificada ou identificável.</p>
    <p>A adesão aos serviços prestados pelo CTL pressupõe que o Cliente ou potencial Cliente ou o seu Representante
        Legal disponibilize os dados pessoais necessários ao cumprimento de obrigações, diligências pré-contratuais e
        contratuais legalmente exigidas.</p>
    <p>Para o efeito, através do preenchimento de formulários próprios pelo Cliente ou potencial Cliente ou o seu
        representante legal, são recolhidos os seguintes dados: identificação do Cliente ou potencial Cliente,
        morada, data de nascimento, naturalidade, número de identificação, número de utente de saúde, número de
        identificação da Segurança Social, número de identificação fiscal, dados inerentes à frequência escolar,
        informação sobre necessidades especiais; filiação, morada, contactos, profissão e local de trabalho dos
        pais; informações para faturação; indicação dos responsáveis pela recolha do Cliente ou potencial Cliente;
        composição do agregado familiar; atividades a aderir; frequência dos serviços; imagem; rendimentos e
        encargos do agregado familiar.</p>

    <h3 class="legal-heading">Tratamento de dados</h3>
    <p>O tratamento de dados é uma operação ou um conjunto de operações efetuadas sobre dados pessoais ou sobre
        conjuntos de dados pessoais, por meios automatizados ou não automatizados, tais como a recolha, o registo, a
        organização, a estruturação, a conservação, a adaptação ou alteração, a recuperação, a consulta, a
        utilização, a divulgação por transmissão, difusão ou qualquer outra forma de disponibilização, a comparação
        ou interconexão, a limitação, o apagamento ou a destruição.</p>
    <p>Os dados recolhidos são tratados informaticamente e mantidos preferencialmente em suporte informático, sendo
        acedidos apenas pelos profissionais que deles necessitam.</p>

    <h3 class="legal-heading">Finalidades do tratamento de dados</h3>
    <p>O tratamento de dados destina-se às seguintes finalidades:</p>
    <ol type="a">
        <li>Execução e/ou gestão do contrato ou outras diligências pré-contratuais;</li>
        <li>Cumprimento de uma obrigação jurídica a que o CTL esteja sujeito;</li>
        <li>Exercício de funções de interesse público;</li>
        <li>De interesse legítimo (ex: divulgação de informações sobre a ação da Instituição; campanhas de recolha
            de bens e donativos; recolha de informação para avaliação de serviços prestados; recolha, classificação
            e armazenamento de documentos físicos com dados pessoais no arquivo documental, que constituem evidência
            no contexto da atividade do CTL).
        </li>
    </ol>

    <h3 class="legal-heading">Partilha de Dados</h3>
    <p>Para efeitos de seguro, o CTL transmite o nome, número de identificação fiscal e data de nascimento do
        Cliente a uma Companhia de Seguros.</p>
    <p>Os dados pessoais poderão ainda ser partilhados com entidades públicas.</p>

    <h3 class="legal-heading">Direitos dos titulares de dados pessoais</h3>
    <p>Os Clientes do CTL ou o seu representante legal têm os direitos de acesso, de retificação, de oposição, de
        apagamento, portabilidade e à limitação do tratamento, apresentando o seu pedido por escrito na morada
        indicada do Responsável pelo tratamento de dados.</p>
    <p>Os Clientes ou o seu representante legal têm ainda o direito de apresentar reclamação à Comissão Nacional de
        Proteção de Dados.</p>

    <h3 class="legal-heading">Conservação de Dados</h3>
    <p>Os dados pessoais são conservados durante os seguintes prazos, sendo destruídos após esses prazos:</p>
    <ol type="a">
        <li>Até dez anos após o termo da relação contratual ou;</li>
        <li>Enquanto subsistirem obrigações emergentes de relação contratual.</li>
    </ol>

    <h3 class="legal-heading">Subcontratantes</h3>
    <p>O CTL poderá recorrer a subcontratantes para a prestação de determinados serviços, o que poderá implicar o
        acesso, por esses terceiros, a dados pessoais dos titulares dos dados.</p>
    <p>Nestas circunstâncias são adotadas as medidas adequadas de forma a assegurar que as entidades subcontratadas
        satisfazem os requisitos legais aplicáveis e oferecem as garantias adequadas em matéria de proteção de
        dados.</p>

    <h3 class="legal-heading">Alterações à Política de Privacidade e Proteção de Dados Pessoais</h3>
    <p>O CTL reserva-se ao direito de, a qualquer altura, proceder a alterações ao presente documento, sendo as
        mesmas publicitadas no sítio institucional (www.ctl.pt).</p>

    <p class="legal-note">Coimbra, 25 de maio de 2018.</p>
</div>
