<div class="section-head wrap">
    @if (iconSrc) {
        <img [src]="iconSrc"
             alt=""
             class="section-tile sticker"
             decoding="async"
             height="150"
             width="150">
    } @else {
        <span [style.background]="tileColor"
              class="section-tile sticker">
            <svg aria-hidden="true" class="icon"><use [attr.href]="'#i-' + tileIcon"/></svg>
            @if (tileLabel) {
                <span [innerText]="tileLabel"
                      class="sticker-label"></span>
            }
        </span>
    }
    <div class="section-head-text">
        <h1 [innerText]="title"
            class="section-heading"></h1>
        @if (loading) {
            <ctl-skeleton height="1.4em" width="min(520px, 100%)"></ctl-skeleton>
        } @else if (messageBoxText) {
            <p [innerText]="messageBoxText"
               class="section-lede"></p>
        }
    </div>
</div>
