<div [class.section-head-no-tile]="!iconSrc"
     class="section-head wrap">
    @if (iconSrc) {
        <img [alt]="''"
             [src]="iconSrc"
             class="section-tile">
    }
    <div class="section-head-text">
        <h1 [innerText]="title"
            class="section-heading"></h1>
        @if (loading) {
            <ctl-skeleton height="1.4em" width="min(520px, 100%)"></ctl-skeleton>
        } @else if (messageBoxText) {
            <p [innerText]="messageBoxText"
               class="section-lede"></p>
        }
    </div>
</div>
