<ctl-section-background [backgroundUrl]="'/assets/images/aec/aec_background.jpg'"></ctl-section-background>
<ctl-section-message-box [iconSrc]="'assets/images/aec/aec_logo.png'"
                         [messageBoxText]="section?.smallDescription ?? ''"
                         [title]="'AEC'"
                         [loading]="loading">
</ctl-section-message-box>
<ctl-gallery [imagesSRCs]="section?.photoSRCs ?? []"
             [loading]="loading"></ctl-gallery>
@if (section) {
    <ctl-section-content [section]="section"></ctl-section-content>
}
