:root {
  --nav-height: 70px;
  --ctl-blue: #6468CC;
  --ctl-blue-25: #d8d9f2;
  --ctl-blue-15: #e8e8f7;
  --ctl-orange: #FD620D;
  --border-radius: 15px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  scrollbar-gutter: stable both-edges;
  padding-right: 0 !important;
  overflow-x: hidden;
}

abbr {
  cursor: auto !important;
  text-decoration: none !important;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.multi-line-truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.glass {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

$spacings: 5, 10, 15, 20;
@each $spacing in $spacings {
  .p-#{$spacing} {
    padding: #{$spacing}px !important;
  }

  .p-t-#{$spacing} {
    padding-top: #{$spacing}px !important;
  }

  .p-b-#{$spacing} {
    padding-bottom: #{$spacing}px !important;
  }

  .p-l-#{$spacing} {
    padding-left: #{$spacing}px !important;
  }

  .p-r-#{$spacing} {
    padding-right: #{$spacing}px !important;
  }

  .p-v-#{$spacing} {
    padding: #{$spacing}px 0 !important;
  }

  .p-h-#{$spacing} {
    padding: 0 #{$spacing}px !important;
  }

  .m-#{$spacing} {
    margin: #{$spacing}px !important;
  }

  .m-t-#{$spacing} {
    margin-top: #{$spacing}px !important;
  }

  .m-b-#{$spacing} {
    margin-bottom: #{$spacing}px !important;
  }

  .m-l-#{$spacing} {
    margin-left: #{$spacing}px !important;
  }

  .m-r-#{$spacing} {
    margin-right: #{$spacing}px !important;
  }
}

@font-face {
  font-family: starlinerbtnregular;
  src: url('/assets/Starliner BTN Regular.woff');
}

.orange-text {
  color: var(--ctl-orange);
}

.clickable-label {
  color: black;
  text-decoration-color: black;
  text-decoration: underline;

  &:hover {
    color: lightblue;
    text-decoration-color: lightblue;
  }
}
